body{
    margin: 0;
    background-color: orange;
    justify-items: center;
}

* {
  box-sizing: border-box;
}

body > div{
    width: 100%;
    height: 80vh;
    padding: 20px 10% 20px 10%;
}

header, footer{
    width: 100%;
    height: 10vh;
    margin: 5px;
    background-color: white;
    align-content: center;
    padding-left: 20px;
}

.main{
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

sidebar{
    width: 9.5%;
    padding: 20px;
    background-color: white;
}

main{
    width: 79.5%;
    padding: 20px;
    background-color: white;
}