body{
    margin: 0;
    background: linear-gradient(white, orange);
}
body>div{
    width: 80;
    height: 100vh;
    margin: 30px;
}

img{
    width: 100px;
}

header{
    width: 100%;
    height: 15%;
    display: flex;
    margin-bottom: 5px;
    background-color: white;
}

footer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-content: center;
    margin-top: 5px;
    background-color: white;
}

.white{
    color: white;
}
.orange{
    color: orange;
}
.purple{
    color: purple;
}

.main{
    display: flex;
    height: 65%;
    background-color: white;
}
.left{
    width: 60%;
}
.right{
    width: 40%;
}