body{
    margin: 0;
    background-color: orange;
}

body > div{
    width: 100%;
    height: 80vh;
}

header, footer{
    width: 100%;
    height: 10vh;
    margin: 5px;
    background-color: white;
    align-content: center;
    padding-left: 20px;
}

.main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

sidebar{
    width: 9.5%;
    background-color: white;
}

main{
    width: 79.5%;
    background-color: white;
}